name: Release

on:
  workflow_dispatch:
    inputs:
      version:
        description: "Version type"
        required: true
        type: choice
        options:
          - patch
          - minor
          - major

jobs:
  draft:
    runs-on: ubuntu-latest
    permissions:
      contents: write
      pull-requests: write
    steps:
      - uses: actions/checkout@v4

      - name: Create Release PR
        uses: yukukotani/github-actions/draft-release@main
        with:
          version: ${{ github.event.inputs.version }}
